<mat-toolbar color="primary">
    <span class="title-center">Fakulteti</span>

    <span class="space">
      <mat-icon (click)="showMe($event)">perm_identity</mat-icon>
    </span>
  <mat-icon (click)="logOut($event)">logout</mat-icon>
    </mat-toolbar>
  
    <div class="container mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraži">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-cell">

      <ng-container matColumnDef="FakultetID">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.FakultetID}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="NazivFak">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv fakulteta</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.NazivFak}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="TelefonFak">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon fakulteta</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.TelefonFak}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="AdresaFak">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adresa fakulteta</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.AdresaFak}}</mat-cell>
      </ng-container>

       <!-- actions -->
      <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1, null, null, null, null)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.FakultetID, row.NazivFak, row.AdresaFak, row.TelefonFak)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openDialog(3, row.FakultetID, row.NazivFak, row.AdresaFak, row.TelefonFak)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true" >
    </mat-paginator>

</div>