<div class="container">
  
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje recepcionara</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija recepcionara</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje recepcionara</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Recepcionar ID" [(ngModel)]="data.RecepcionarID" name="RecepcionarID"
          [disabled] = "flag == 3" [disabled] = "flag == 2" required>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-label>Sertifikat</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="Sertifikat" [disabled] = "flag == 3" required>
            <mat-option *ngFor="let se of Sertifikat" [value]="se.value">
              {{se.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" [type]="submit" [mat-dialog-close]="1"
          (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2" [type]="submit" [mat-dialog-close]="1"
          (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1"
          (click)="delete()">Obriši</button>
          
        <button mat-button (click)="cancel()">Poništi</button>

      </div>
    </form>
  </div>