<div class="container">
  
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stanara</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija stanara</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje stanara</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <mat-label>Student</mat-label>
          <mat-select [(ngModel)]="data.StudentID" name="Korisnici" [disabled] = "flag == 3" required>
            <mat-option *ngFor="let ko of filterItemsOfType(1)" [value]="ko.KorisnikID">
              {{ko.Ime}} {{ko.Prezime}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-label>Akademska godina</mat-label>
          <mat-select [(ngModel)]="data.AkademskaGodinaID" name="AkademskeGodine" [disabled] = "flag == 3" required>
            <mat-option *ngFor="let ag of AkademskeGodine" [value]="ag.AkademskaGodinaID">
              {{ag.Godina}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div class="form">
      <mat-form-field>
        <mat-label>Dom</mat-label>
        <mat-select [(ngModel)]="data.DomID" name="Domovi" [disabled] = "flag == 3" required>
          <mat-option *ngFor="let dom of Domovi" [value]="dom.DomID">
            {{dom.NazivDom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-label>Soba</mat-label>
        <mat-select [(ngModel)]="data.SobaID" name="Sobe" [disabled] = "flag == 3" required>
          <mat-option *ngFor="let so of Sobe" [value]="so.SobaID">
            {{so.BrojSobe}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    <div class="form">
      <mat-form-field>
        <mat-label>Sluzbenik</mat-label>
        <mat-select [(ngModel)]="data.SluzbenikID" name="Sluzbenici" [disabled] = "flag == 3" required>
          <mat-option *ngFor="let ko of filterItemsOfType(3)" [value]="ko.KorisnikID">
            {{ko.Ime}} {{ko.Prezime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  
      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" [type]="submit" [mat-dialog-close]="1"
          (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2" [type]="submit" [mat-dialog-close]="1"
          (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3" [type]="submit" [mat-dialog-close]="1"
          (click)="delete()">Obriši</button>
          
        <button mat-button (click)="cancel()">Poništi</button>

      </div>
    </form>
  </div>