<mat-toolbar color="primary">
    <span class="title-center">Domovi</span>
    </mat-toolbar>
  
    <div class="container mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraži">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-cell">

      <ng-container matColumnDef="DomID">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.DomID}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="NazivDom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv doma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.NazivDom}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="TelefonDom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon doma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.TelefonDom}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="AdresaDom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Adresa doma</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.AdresaDom}}</mat-cell>
      </ng-container>
  
       <!-- actions -->
      <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1, null, null, null, null)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.DomID, row.NazivDom, row.TelefonDom, row.AdresaDom)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openDialog(3, row.DomID, row.NazivDom, row.TelefonDom, row.AdresaDom)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true" >
    </mat-paginator>

</div>