

<mat-toolbar color="primary">
    <span class="title-center">Prijavi se!</span>
    </mat-toolbar>
    
  
      <form (submit)="loginUser($event)" class="example-form">
          <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" id="Email" required>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Lozinka" id="Lozinka" [type]="hide ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <button mat-stroked-button color="accent" class="btn-block" input type="submit" value="Submit">Prijavi se</button>

        
      </form>