.example-full-width {
    max-width:300px;
    width:50%;
    margin-left: 8px;
}

.example-form {
    margin-left: 8px;
    text-align: center;
    vertical-align: middle
}

.container {
    display: flex;
    flex-direction: column;
}
      
.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
}
      
.title-center {
    margin: 0 auto;
}

